<!--
  Generated template for the SongListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>歌单</ion-title>
  </ion-navbar>
</ion-header>
<ion-content fullscreen="true" (ionScroll)="handlerScroll($event)">
  <section class="backdrop"
           [ngStyle]="{'background-image': 'url('+(baseInfo.picUrl||baseInfo.coverImgUrl)+')'}"></section>
  <section class="content-header" [ngStyle]="{filter:'opacity('+currentOpacity+'%)'}">
    <ion-searchbar [showCancelButton]="true" animated="true" cancelButtonText="取消"
                   placeholder="搜索歌单内歌曲"></ion-searchbar>
    <ion-grid class="list-header">
      <ion-row>
        <ion-col>
          <img src="{{baseInfo.picUrl||baseInfo.coverImgUrl}}"/>
          <span class="play-number">{{listDetail.playCount| ary}}</span>
        </ion-col>
        <ion-col col-7>
          <div>{{baseInfo.name }}</div>
          <div ion-item detail-push>
            <ion-avatar item-start>
              <img *ngIf="listDetail.creator.avatarUrl;else defaultIcon" src="{{listDetail.creator.avatarUrl}}"/>
              <ng-template #defaultIcon>
                <ion-icon class="ion-ios-contact-outline" style="font-size: 36px"></ion-icon>
              </ng-template>
            </ion-avatar>
            <span>{{listDetail.creator.nickname}}</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="feature-list">
      <ion-row>
        <ion-col>
          <ion-icon class="ion-ios-add-circle-outline"></ion-icon>
          <span>{{listDetail.subscribedCount}}</span>
        </ion-col>
        <ion-col>
          <ion-icon class="ion-ios-text-outline"></ion-icon>
          <span>{{listDetail.commentCount}}</span>
        </ion-col>
        <ion-col>
          <ion-icon class="ion-ios-share-outline"></ion-icon>
          <span>{{listDetail.shareCount}}</span>
        </ion-col>
        <ion-col>
          <ion-icon class="ion-ios-download-outline"></ion-icon>
          <span>下载</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
  <div #playlist class="tool-menu" (click)="toPlayList()">
    <ion-icon class="ion-ios-play"></ion-icon>
    <p>播放全部</p>
    <div ngClass="end" [ngSwitch]="checkboxMark" (click)="multiSelect($event)">
      <ion-icon *ngSwitchCase="false" class="ion-ios-menu"></ion-icon>
      <span *ngSwitchCase="true" (click)="handlerCheck()">完成</span>
    </div>
  </div>
  <ion-scroll [scrollY]="scrollMark">
    <ion-list class="file-count">
      <a ion-item *ngFor="let song of listDetail.tracks;index as i;" [ngSwitch]="checkboxMark" (click)="toPlayList(i)">
        <ion-checkbox *ngSwitchCase="true" [(ngModel)]="song.check"></ion-checkbox>
        <span item-start *ngSwitchCase="false">{{i+1}}</span>
        <h2>{{song.name}}</h2>
        <p>
          <span *ngFor="let author of song.ar;let index=first;">
            <em *ngIf="!index">/</em>{{author.name}}
          </span>
          <span>- {{song.al.name}}</span>
        </p>
      </a>
    </ion-list>
  </ion-scroll>


</ion-content>
