page-song-list {
  ion-header {
    .toolbar-background {
      background-color: rgba(0, 0, 0, 0);
    }
    .toolbar-title {
      color: white;
    }
  }
  .content {
    color: white;
    background-color: #2b2626;
    background-size:100000% 100000%;
    .scroll-content {
      background-color: rgba(255, 255, 255, 0.1);
      ion-searchbar {
        min-height: 30px;
        background: rgba(0, 0, 0, 0);
        .searchbar-search-icon {
          top: 10px !important;
        }
        input {
          font-size: 1.2rem !important;
          border-radius: 16px !important;
          height: 2.7rem !important;
          background-color: rgba(255,255,255,0.1);
          &::-webkit-input-placeholder{
            color: rgba(255, 255, 255, 0.3)!important;
          }
        }
      }
      .list-header {
        .play-number {
          position: absolute;
          top: 5px;
          right: 10px;
        }
        .item {
          margin-top: 1rem;
          background: rgba(0, 0, 0, 0);
          ion-avatar {
            margin-right: 0.4rem;
          }
          .item-inner {
            border-width: 0;
            font-size: 1.2rem;
            color: white;
            ion-icon {
              margin-left: 1rem;
              font-size: 1.2rem;
            }
          }
        }
      }
      .feature-list {
        text-align: center;
        ion-icon {
          display: block;
        }
      }
    }

  }

}
