list-divider {
  .icon-head {
    display: inline-block;
    width: 2rem;
    text-align: center;

    ion-icon {
      font-size: 1.7rem;
      color: rgba(0,0,0,0.7);
    }
  }

  ion-item{
    h3{
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p{
      font-weight: lighter;
      font-size: 1rem!important;
    }
  }
}
