<!-- Generated template for the ListDividerComponent component -->
<ion-item-group>
  <div style="min-height: 4rem;">
    <ion-item-divider style="height: 4rem;" [ngStyle]="{'position':divider.position,'top':divider.top+'px'}"
                      color="light" (click)="foldHandler()">
      <div [ngSwitch]="divider.foldStatus"  class="icon-head">
        <ion-icon *ngSwitchCase="false" name="ios-arrow-down"></ion-icon>
        <ion-icon *ngSwitchCase="true" name="ios-arrow-forward"></ion-icon>
      </div>

      {{menuList.title}}88888
    </ion-item-divider>
  </div>
  <div [hidden]="divider.foldStatus">
    <ion-item *ngFor="let item of menuList.list">{{item.name}}</ion-item>
  </div>
</ion-item-group>
